@model CumulativeP1_n01691175.Models.Teacher
@{
    ViewBag.Title = "Show";
}





<div class="containershow">
    <nav class="navbar">
        <a class="navlink" href="/Teacher/List">Back To List of Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete Teacher</a>
    </nav>
    <div class="info">
        <h2>@Model.TeacherFname @Model.TeacherLname</h2>
        <p>Employee Number: @Model.EmployeeNumber</p>
        <p>Hire Date: @Model.HireDate</p>
        <p>Salary: @Model.Salary</p>
    </div>

</div>


